<a href="https://colab.research.google.com/github/RafiMalik25/KKA-XI-SEMESTER-1/blob/main/1_fungsi_print_Rafi_IM_XI_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama:Rafi Ikhsanul Malik

Kelas:XI.3

No.Absen:21

#Menampilkan String (Teks Bebas)

In [ ]:
print("Rafi Ikhsanul Malik")

Rafi Ikhsanul Malik

#Menampilkan Nilai Variabel

In [ ]:
Nama = "Rafi Ikhsanul Mlaik"
usia = 16
Tinggi_Badan =172



print(Nama)
print(usia)
print(Tinggi_Badan)

Rafi Ikhsanul Mlaik
16
172

#Menampilkan String dan Nilai Variabel

In [ ]:
print("Hallo nama saya",Nama,".Tinggi badan saya adalah",Tinggi_Badan,"cm.")

Hallo nama saya Rafi Ikhsanul Mlaik .Tinggi badan saya adalah 172 cm.

In [ ]:
print("Usia saya adalah",usia,"tahun.")

Usia saya adalah 16 tahun.

#Latihan:

In [ ]:
Berat_Badan =67


print(Berat_Badan)

67

In [ ]:
print("Berat badan saya adalah",Berat_Badan,"kg.")

Berat badan saya adalah 67 kg.

In [ ]:
print("Halo nama saya "+ Nama+ ". Tinggi badan saya adalah "+ str(Tinggi_Badan)+" cm.")

Halo nama saya Rafi Ikhsanul Mlaik. Tinggi badan saya adalah 172 cm.

In [ ]:
print(f"Halo nama saya {Nama}. Tinggi badan saya adalah {Tinggi_Badan} cm.")

Halo nama saya Rafi Ikhsanul Mlaik. Tinggi badan saya adalah 172 cm.

#Escape Character

In [ ]:
print("Nama \t\t: Rafi Ikhsanul Malik\nKelas\t\t:XI.3\nNo.Absen\t: 21")

Nama 		: Rafi Ikhsanul Malik
Kelas		:XI.3
No.Absen	: 21

In [ ]:
print("""Nama\t\t:Rafi Ikhsanul Malik
Kelas\t\t:XI.3
No.Absen\t:21""")

Nama		:Rafi Ikhsanul Malik
Kelas		:XI.3
No.Absen	:21

In [ ]:
print("Nama \t\t: Rafi Ikhsnaul Malik")
print("Kelas\t\t: XI.3")
print("No.Absen\t: 21")

Nama 		: Rafi Ikhsnaul Malik
Kelas		: XI.3
No.Absen	: 21

In [ ]:
print("Habib Ja\'far")

Habib Ja'far

In [ ]:
print("Rafi berkata, \"Minta hp iphone baru!\".")

Rafi berkata, "Minta hp iphone baru!".

In [ ]:
print("Lokasi file penyimpanan tugas KKA ada di local disk D:\\MAN Demak\\KKA\\Tugas")

Lokasi file penyimpanan tugas KKA ada di local disk D:\MAN Demak\KKA\Tugas

#Parameter Fungsi Print

In [ ]:
nama_siswa_1= "Yafi"
nama_siswa_2= "Wahyu"

In [ ]:
print(nama_siswa_1,end="&")
print(nama_siswa_2)

Yafi&Wahyu

In [ ]:
print(nama_siswa_1,nama_siswa_2,sep="/")

Yafi/Wahyu

In [ ]:
nama_siswa_3= "Dzakka"
nama_siswa_4= "Haikal"
nama_siswa_5= "Hilma"

In [ ]:
print(nama_siswa_5,end="*")
print(nama_siswa_4,end="*")
print(nama_siswa_3,end="*")
print(nama_siswa_5)

Hilma*Haikal*Dzakka*Hilma

In [ ]:
print(nama_siswa_4,nama_siswa_3,nama_siswa_5,nama_siswa_3,sep="~")

Haikal~Dzakka~Hilma~Dzakka